* {
  outline: none;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  font-size: 1.4rem;
}

html {
  // 10px = 1rem
  font-size: 10px;
}

body {
  color: $doday-black;
  font-size: 1.4rem;
}

input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}

label {
  margin: 0;
}

.red {
  color: $doday-red !important;
}

.yellow {
  color: $doday-yellow !important;
}

.bg-blue {
  background-color: $doday-blue;
}

.completed {
  text-decoration: line-through;
}

.btn {
  border-radius: 4px;
  font-size: 1.4rem;
}

.form-control {
  border-radius: 4px;
  font-size: 1.4rem;
  line-height: 1.8;
}

.validate-feedback {
  margin-top: .25rem;
  font-size: .875rem;
  color: #dc3545;
}

.input-group-append .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  z-index: 2;
  left: -1px;
  opacity: 0.8;
}

.btn-outline-secondary:hover {
  color: #494949;
  background-color: #ffc107;
  border-color: #494949;
  opacity: 1;
}

.disabled {
  pointer-events: none;
  opacity: 0.4 !important;
}

.hidden {
  opacity: 0;
}

.spacer-1 {
  height: 1rem;
}

.spacer-10 {
  height: 10rem;
}

.black-text {
  color: $doday-gray-dark;
}

.bg-yellow {
  background-color: $doday-yellow;
}

.close {
  cursor: pointer;
  z-index: 5;
  position: relative;
}

.vh100 {
  height: 100vh;
}

// Separators

.separator {
  width: 1px;
  background-color: $doday-light-border;
  height: 3.3rem;
}

.separator-light-left {
  border-left: 1px solid $doday-light-border;
}

.separator-light-right {
  border-right: 1px solid $doday-light-border;
}
