node_modules/
.idea/
.vscode/
.expo/
npm-debug.*
ios/build
.eslintrc
android/gradle.properties
android/local.properties
android/app/*.keystore
android/app/build
android/app/api-*
android/app/assets
android/build
android/.gradle

# Deployment
*.cer
*.jsbundle
*.jsbundle.meta
*dSYM.zip
*.keystore
*.mobileprovision
fastlane/report.xml
coinsane.ipa
